<p><strong>First Name:</strong>
<%= @profile.first_name %>
</p>

<p><strong>Last Name:</strong>
<%= @profile.last_name %>
</p>

<p>
  <strong>Reminders:</strong>
  <%= @profile.reminders ? 'Enabled' : 'Disabled' %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @profile.archive ? 'Enabled' : 'Disabled' %>
</p>

<%= link_to 'Edit', 'profile/edit', class:"btn btn-primary"%>
