<h3 class="card-title"><%= task.name %></h3>

<% if task.details? %>
  <h5>Details</h5>
  <p class="card-text"><%= task.details %></p>
<% end %>

<% if task.priority == 3 %>
  <div>
    <h5>Assignee Details</h5>
    <p><strong>Name:</strong> <%= task.assignee.first_name %> <%= task.assignee.last_name %>
    <br><strong>Email:</strong> <%= task.assignee.email %></p>
  </div>
<% end %>

<% if task.completed? %>
  <%= button_to 'Mark as incomplete', complete_task_path(task), method: :complete, remote: true, data: { turbo_method: :complete}, class: 'btn btn-outline-dark' %>
<% else %>
  <%= button_to 'Complete', complete_task_path(task), method: :complete, remote: true, data: { turbo_method: :complete}, class: 'btn btn-outline-dark' %>
<% end %>
