<div id="<%= dom_id task %>">
  <h2><%= task.name %></h2>

  <div>
    <h5>Details</h5>
    <p><%= task.details %></p>
    <% if task.completed? %>
      <p><i class="fa-regular fa-square-check fa-xl"></i> Completed!</p>
    <% else %>
      <p><i class="fa-regular fa-rectangle-xmark fa-xl"></i> Completed?</p>
    <% end %>
  </div>

  <% if task.priority == 3 %>
    <div>
      <h5>Assignee Details</h5>
      <p><strong>Name:</strong> <%= task.assignee.first_name %> <%= task.assignee.last_name %>
      <br><strong>Email:</strong> <%= task.assignee.email %></p>
    </div>
  <% end %>

</div>
