<div id="<%= dom_id task %>">
  <h2><%= task.name %></h2>

  <div>
    <h5>Details</h5>
    <p>Some details about your task ...</p>
  </div>

  <% if task.priority == 3 %>
    <div>
      <h5>Assignee Details</h5>
      <p><strong>Name:</strong> <%= task.assignee.first_name %> <%= task.assignee.last_name %>
      <br><strong>Email:</strong> <%= task.assignee.email %></p>
    </div>
  <% end %>

</div>
