<div class="home-nav mb-3 p-3">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <%= link_to "+ Create Task", new_task_path(), class: "d-flex align-items-center my-2 my-lg-0 me-lg-auto btn btn-outline-dark" %>
    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
      <li>
        <%= link_to tasks_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-circle-play fa-2xl"></i>
          <p>DO</p>
        <% end %>
      </li>
      <li>
        <%= link_to tasks_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-calendar-plus fa-2xl"></i>
          <p>DECIDE</p>
        <% end %>
      </li>
      <li>
        <%= link_to tasks_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-user-plus fa-2xl"></i>
          <p>DELEGATE</p>
        <% end %>
      </li>
      <li>
        <%= link_to tasks_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-box-archive fa-2xl"></i>
          <p>DEPOSITORY</p>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path(), class: "link-body-emphasis text-decoration-none" do %>
          <% if @user.photo.key? %>
            <%= cl_image_tag @user.photo.key, class: "avatar" %>
          <% else %>
            <i class="fa-regular fa-user fa-2xl"></i>
          <% end %>
          <p>Profile</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="container text-center home-tasks mb-3">
  <div class="row">
    <div class="col m-3 p-3 priority-do">
      <h4><strong>D</strong>o</h4>
      <p><em>Task to do NOW!</em></p>
      <hr>
      <ul>
        <% @tasks_p1.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
    <div class="col m-3 p-3 priority-decide">
      <h4><strong>D</strong>ecide</h4>
      <p><em>Upcoming Task</em></p>
      <hr>
      <ul>
        <% @tasks_p2.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col mx-3 mb-3 p-3 priority-delegate">
      <h4><strong>D</strong>elegate</h4>
      <p><em>Task to delegate</em></p>
      <hr>
      <ul>
        <% @tasks_p3.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
    <div class="col mx-3 mb-3 p-3 priority-depository">
      <h4><strong>D</strong>epository</h4>
      <p><em>Your oldest Task</em></p>
      <hr>
      <ul>
        <% @tasks_p4.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container home-stats p-3">
  <div class="row">
    <div class="col-9">
      <h4>Statistics</h4>
      <p>Here are your stats ...</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <%= link_to "Garden", gardens_path(), class: "btn btn-success" %>
    </div>
  </div>
</div>
