<div class="home-nav mb-3 p-3">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <%= link_to "+ Create Taks", root_path(), class: "d-flex align-items-center my-2 my-lg-0 me-lg-auto link-body-emphasis text-decoration-none" %>

    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
      <li>
        <%= link_to root_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-circle-play fa-2xl"></i>
          <p>DO</p>
        <% end %>
      </li>
      <li>
        <%= link_to root_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-calendar-plus fa-2xl"></i>
          <p>DECIDE</p>
        <% end %>
      </li>
      <li>
        <%= link_to root_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-user-plus fa-2xl"></i>
          <p>DELEGATE</p>
        <% end %>
      </li>
      <li>
        <%= link_to root_path(), class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-box-archive fa-2xl"></i>
          <p>DEPOSITORY</p>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path(), class: "link-body-emphasis text-decoration-none" do %>
          <%= image_tag "treetasker-logo.png", alt: "TreeTasker - Productivity Growth", size: "50x50", class: "bi d-block mx-auto" %>
          <p>Profile</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="container text-center home-tasks mb-3">
  <div class="row">
    <div class="col m-3 p-3">
      <h4><strong>D</strong>o</h4>
      <p>Task to do NOW!</p>
    </div>
    <div class="col m-3 p-3">
      <h4><strong>D</strong>ecide</h4>
      <p>Upcoming Task</p>
    </div>
  </div>
  <div class="row">
    <div class="col mx-3 mb-3 p-3">
      <h4><strong>D</strong>elegate</h4>
      <p>Task to delegate</p>
    </div>
    <div class="col mx-3 mb-3 p-3">
      <h4><strong>D</strong>epository</h4>
      <p>Your oldest Task</p>
    </div>
  </div>
</div>

<div class="container home-stats p-3">
  <div class="row">
    <div class="col-9">
      <h4>Statistics</h4>
      <p>Here are your stats ...</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-success"><%= link_to "Garden", root_path(), class: "link-body-emphasis text-decoration-none" %></button>
    </div>
  </div>
</div>
