<div class="home-nav mb-3 p-3">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <%= link_to "+ Create Task", new_task_path(), class: "d-flex my-2 btn btn-outline-dark" %>
    <ul class="nav">
      <li class="priority-do">
        <%= link_to tasks_do_path, class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-circle-play fa-2xl"></i>
          <p>DO</p>
        <% end %>
      </li>
      <li class="priority-decide">
        <%= link_to tasks_decide_path, class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-regular fa-calendar-plus fa-2xl"></i>
          <p>DECIDE</p>
        <% end %>
      </li>
      <li class="priority-delegate">
        <%= link_to tasks_delegate_path, class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-user-plus fa-2xl"></i>
          <p>DELEGATE</p>
        <% end %>
      </li>
      <li class="priority-depository">
        <%= link_to tasks_depository_path, class: "link-body-emphasis text-decoration-none" do %>
          <i class="fa-solid fa-box-archive fa-2xl"></i>
          <p>DEPOSITORY</p>
        <% end %>
      </li>
      <li class="profile">
        <%= link_to profile_path(), class: "link-body-emphasis text-decoration-none" do %>
          <% if @user.photo.key? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-nav" %>
          <% else %>
            <i class="fa-regular fa-user fa-2xl"></i>
          <% end %>
          <p>PROFILE</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="container text-center home-tasks mb-3">
  <div class="row">
    <div class="col m-3 p-3 priority-do">
      <h4><strong>D</strong>o</h4>
      <% if @tasks_p1.count == 1 %>
        <p><em>Task to do NOW!</em></p>
      <% else %>
        <p><em>Tasks to do NOW!</em></p>
      <% end %>
      <hr>
      <ul>
        <% @tasks_p1.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
    <div class="col m-3 p-3 priority-decide">
      <h4><strong>D</strong>ecide</h4>
      <% if @tasks_p2.count == 1 %>
        <p><em>Upcoming Task</em></p>
      <% else %>
        <p><em>Upcoming Tasks</em></p>
      <% end %>
      <hr>
      <ul>
        <% @tasks_p2.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col mx-3 mb-3 p-3 priority-delegate">
      <h4><strong>D</strong>elegate</h4>
      <% if @tasks_p3.count == 1 %>
        <p><em>Task to delegate</em></p>
      <% else %>
        <p><em>Tasks to delegate</em></p>
      <% end %>
      <hr>
      <ul>
        <% @tasks_p3.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
    <div class="col mx-3 mb-3 p-3 priority-depository">
      <h4><strong>D</strong>epository</h4>
      <% if @tasks_p4.count == 1 %>
        <p><em>Your oldest Task</em></p>
      <% else %>
        <p><em>Your oldest Tasks</em></p>
      <% end %>
      <hr>
      <ul>
        <% @tasks_p4.each do |task| %>
          <%= render "tasks/task_home", task: task %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container home-stats p-3">
  <div class="row align-items-baseline">
    <div class="col-9 d-flex align-items-baseline">
      <h4>Statistics |</h4>
      <p class="mb-3 px-1">Total trees: <strong><%= @garden.trees.count %></strong> / For more stats go to garden!</p>
    </div>
    <div class="col-3">
      <div class="d-grid">
        <%= link_to "Garden", gardens_path(), class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
