<div class="container bg-light rounded-4">
  <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <h2><strong>My Profile Page</strong></h2>
    <a href="/" class="btn btn-success">Home</a>
  </div>

  <div class="user-profile mt-3 mb-4 d-flex align-items-start">
    <!-- Profile Picture -->
    <div class="profile-picture me-3">
      <% if @user.photo.key? %>
        <%= cl_image_tag @user.photo.key, class: "avatar-bordered" %>
      <% else %>
        <i class="fa-regular fa-user fa-4x"></i>
      <% end %>
      <span class="camera" style="cursor: pointer;">
        <i class="fa-solid fa-camera" data-bs-toggle="modal" data-bs-target="#changeProfilePictureModal"></i>
      </span>
    </div>

    <!-- User Details -->
    <div class="user-details">
      <div>
        <%= @user.first_name %> <%= @user.last_name %>
        <a href="/users/edit" class="icon-link text-dark ms-2 text-decoration-none">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
      </div>
      <div class="user-status">Gardener Status: <strong><%= @user.status.capitalize %></strong></div>
    </div>
  </div>



<%# Handling Image Update with a modal %>
<div>
  <!-- Modal -->
  <div class="modal fade" id="changeProfilePictureModal" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeProfilePictureModal">Change Profile Picture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <%# <span aria-hidden="true">&times;</span> %>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :photo, as: :file %>
              <%= f.label :current_password, "Current Password" %>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>

            <div class="form-actions btn btn-success">
              <%= f.button :submit, "Update" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%# <p>
  <strong>Reminders:</strong>
  <%# @user.reminders ? 'Enabled' : 'Disabled' %>
<%# </p> %>

<%# <p>
  <strong>Archive:</strong>
  <%# @user.archive ? 'Enabled' : 'Disabled' %>
<%# </p> %>
