<div class="wrapper">
  <div class="title-and-button d-flex justify-content-between align-items-center mt-3 mb-3">
    <h2><strong>My Profile Page</strong></h2>
    <a href="/" class="btn btn-success">Home</a>
  </div>
</div>

<div class="container d-flex bg-light rounded-4 p-3 border border-dark">
  <div class="col-5 user-profile mt-3 mb-4">
    <div class="profile-picture me-3">
      <% if @user.photo.key? %>
        <div class="avatar-bordered">
          <%= cl_image_tag @user.photo.key, class: "avatar-bordered" %>
          <span class="camera" style="cursor: pointer;">
            <i class="fa-solid fa-camera" data-bs-toggle="modal" data-bs-target="#changeProfilePictureModal"></i>
          </span>
        </div>
      <% else %>
        <i class="fa-regular fa-user fa-4x"></i>
        <span class="camera-for-icon" style="cursor: pointer;">
          <i class="fa-solid fa-camera" data-bs-toggle="modal" data-bs-target="#changeProfilePictureModal"></i>
        </span>
      <% end %>
    </div>

    <div class="user-details">
      <div>
        <p class="mb-1">
          <%= @user.first_name %> <%= @user.last_name %>
          <a href="/users/edit" class="icon-link text-dark ms-2 text-decoration-none">
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
        </p>
        <p>Gardener Status: <strong class="status-green"><%= @user.status %></strong></p>
      </div>
      <a href="/archive" class="btn btn-success">Archive</a>
    </div>
  </div>

  <div class="col-7 status-badges m-0">
    <% statuses = ['Green Thumb', 'Sprouts Scout', 'Floral Engineer', 'Plant Scientist', 'Tree Whisperer', 'Forest Fairy', 'Wildlife Wizard', 'Landscape Legend'] %>
    <% user_status_index = @user.status ? statuses.map(&:downcase).index(@user.status.downcase) : nil %>
    <% statuses.each_with_index do |status, index| %>
      <div class="badge-container <%= 'unlocked' if user_status_index.present? && (user_status_index >= index) %>">
        <i class="fa-solid fa-seedling level-<%= index + 1 %> <%= 'achieved' if user_status_index.present? && (user_status_index >= index) %>"></i>
        <span class="badge-label"><%= status %></span>
      </div>
    <% end %>
  </div>

  <%# Handling Image Update with a modal %>
  <div class="modal fade" id="changeProfilePictureModal" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeProfilePictureModal">Change Profile Picture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <%# <span aria-hidden="true">&times;</span> %>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :photo, as: :file %>
              <%= f.label :current_password, "Current Password" %>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>

            <div class="form-actions btn btn-success">
              <%= f.button :submit, "Update" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
