<div class="container">
  <div class="row justify-content-between">
    <div class="col-9">
      <h2><%= possessive_form(@user.first_name) %> Garden!</h2>
      <h4>Gardener Status: <strong class="status-green"><%= @user.status %></strong></h4>
    </div>
    <div class="col-3 pt-2 pe-0">
      <%= link_to "Home", root_path, class: "btn btn-success float-end" %>
    </div>
  </div>

  <div class="middle-container mt-5">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 bg-white border rounded-4">
            <div style="display: flex; justify-content: space-between;">
              <h3>Statistics</h3>
              <h4 class="mr-2">Total trees: <strong><%= @garden.trees.count %></strong></h4>
            </div>
          <p>You have planted a total of <strong><%= @garden.trees.where(name: "Do Tree").count %></strong> Do trees!</p>
          <p>You have planted a total of <strong><%= @garden.trees.where(name: "Decide Tree").count %></strong> Decide trees!</p>
          <p>You have planted a total of <strong><%= @garden.trees.where(name: "Delegate Tree").count %></strong> Delegate trees!</p>
          <p>You have planted a total of <strong><%= @garden.trees.where(name: "Depository Tree").count %></strong> Depository trees!</p>
        </div>
      </div>
      <div class="col">
        <div class="p-3 bg-white border rounded-4">
          <div style="display: flex; justify-content: space-between;">
            <h4>Filter by:</h4>
            <div>
              <%= link_to "Clear Filter ", "#", class: "tt-link btn-clear-filter mb-3", onclick: "clearFilter()" %>
              <i class="fa-solid fa-filter-circle-xmark"></i>
            </div>
          </div>
          <div class="row justify-content-center" data-controller="update-canvas-scene">
            <%= form_with url: gardens_path, method: :get, class: "d-flex", id: "garden-filter-form" , data: { "update-canvas-scene-target": "form" } do %>
            <%= select_tag :date_filter,
            options_for_select(["Week", "Month", "Year", "All Time"], params[:date_filter]),
            class: "form-control select-garden",
            prompt: "Today",
            data: { "update-canvas-scene-target": "select" } %>
            <%= submit_tag "Search", name: "", class: "btn btn-success btn-garden" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "canvas", garden: @garden %>

<script>
  function clearFilter() {
    document.querySelector('#date_filter').value = 'Today';
    document.querySelector('form#garden-filter-form').submit();
  }
</script>
